<app-header></app-header>
<div class="row" style="margin: 60px;">

  <h1 style="color:aliceblue">Paquetes disponibles</h1>
    <div *ngFor="let paquete of paquetes" class="col-lg-4 col-xs-2">
      
        <div class="card paquete glass" style="width: 18rem;">
            <div class="card-body">
         
              <h5 class="card-title">Paquete</h5>
              <p class="card-text">{{paquete.nombre}}</p>
              <li class="card-text">{{paquete.recomendacion}}</li>
                <p class="card-text">Precio:{{paquete.precio}}</p>
              <img class="img-paquete" src={{paquete.urlImagen}} alt="">
              <br>
              <a href="http://localhost:4200/pagos/{{paquete.idPaq}}" class="btn boton-compra">Comprar</a>
            </div>
        </div>
        
    </div>

</div>

<app-footer></app-footer>