<app-header></app-header>

<h1 style="color: aliceblue; text-align: center;">NorteXploradores</h1>
<div class="glass" style="margin:40px">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel dolore voluptatum rerum facilis beatae, labore quisquam sunt eligendi adipisci dolorem placeat eos, iusto, fugiat harum odit a quam aut quae!</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga molestias, voluptatum qui suscipit minima delectus voluptate nesciunt dolorem? Hic cum, nostrum optio nesciunt tempora ea soluta unde explicabo voluptatem praesentium?</p>
</div>

<div class="glass" style="margin:40px">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel dolore voluptatum rerum facilis beatae, labore quisquam sunt eligendi adipisci dolorem placeat eos, iusto, fugiat harum odit a quam aut quae!</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga molestias, voluptatum qui suscipit minima delectus voluptate nesciunt dolorem? Hic cum, nostrum optio nesciunt tempora ea soluta unde explicabo voluptatem praesentium?</p>
</div>
<app-footer></app-footer>
